---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      <strong>Electrochemistry is fun</strong>
      </p>

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      The Marshall Lab at the University of Canterbury is led by Professor Aaron Marshall.
      </p>

      <img class='img-responsive center-block' src="/images/people/KLab_Fall_2021.png" width="50%" height="50%" />

      <p>
      <i>Electrochemical Energy Technology.<br> Recovery and Extraction of Critical Minerals.<br>
      Ultra-high temperature electrochemistry.</i>

        <span style="display: block; margin-bottom: 3em"></span>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>


      <span style="display: block; margin-bottom: 3em"></span>
      Department of Chemical and Process Engineering at the University of Canterbury<br>
      Christchurch, New Zealand
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
