---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      <strong>WEBSITE IN PROGRESS !!</strong>
      </p>

      <p style="text-align: justify; margin: 20px auto; max-width: 90%; line-height: 1.6;">
      Welcome to the Marshall Electrochemical Engineering Research Lab.

 Lead by Professor Aaron Marshall and based in the Department of Chemical and Process Engineering at the University of Canterbury in Christchurch, New Zealand. Our research focuses on electrocatalysis and electrochemical engineering for applications in green energy, chemicals and metal production processes.
      </p>

      <img class='img-responsive center-block' src="/images/lab/CAPE_Research_Lab.jpeg" width="70%" height="70%" />

      <p>
      <strong>Research Interests</strong>
      </p>
      <ul style="list-style-position:outside; padding: 20px; text-align:left; display:inline-block;">
        <li>Electrochemical Energy Technology</li>
        <li>Flow batteries</li>
        <li>Electrocatalytic carbon dioxide reduction</li>
        <li>Water electrolysis</li>
        <li>Recovery and Extraction of Critical Minerals</li>
        <li>Ultra-high temperature electrochemistry</li>
      </ul>

        <span style="display: block; margin-bottom: 3em"></span>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>


      <span style="display: block; margin-bottom: 3em"></span>
      Department of Chemical and Process Engineering at the University of Canterbury<br>
      Christchurch, New Zealand
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
