<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand page-scroll' href='/'>
                <img src="{{ site.baseurl }}/images/logo/logo_transparent.png" alt="{{ site.name }}" style="height: 60px; width: auto; margin-top: 0px;">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for nav in site.nav %}
                {% if nav.dropdown %}
                <li class="dropdown">
                    <a href="{{ nav.href }}" class="dropdown-toggle name" data-toggle="dropdown" role="button">
                        {{ nav.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for sub in nav.dropdown %}
                        <li><a href="{{ sub.href }}">{{ sub.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a class='name' href="{{ nav.href }}">{{ nav.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
